*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

/* diamond weekend section start */

.diamond-weekend {
    margin-bottom: 120px;
}

.container {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    padding: 33px 41px 0 41px;
}

.diamond-weekend-gallery {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.diamond-weekend-container-1 {
    background-image: url("../images/diamond-weekend-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 652px;
    height: 393px;

    
    padding: 68px 98px 68px 98px;

    position: relative;
}

.diamond-weekend-container-1::after {
    content: "";

    width: 652px;
    height: 393px;

    background-color: #eeeeee;
    
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: -1;
}

/* .diamond-weekend-img {
} */

.diamond-weekend-heading {
    font-size: 40px;
    line-height: 54px;

    color: #ffffff;

    margin-bottom: 22px;
}

.diamond-weekend-text {
    width: 316px;

    color: #ffffff;

    margin-bottom: 30px;
}

.diamond-weekend-btn,
.watch-btn {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;
    background-color: #34a9a2;
    padding: 8px 28px;

    cursor: pointer;
}

.diamond-weekend-container-2 {
    background-image: url("../images/diamond-weekend-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 652px;
    height: 393px;

    padding: 68px 98px 68px 98px;

    position: relative;
    top: 10px;
}

.diamond-weekend-container-2::after {
    content: "";

    width: 652px;
    height: 393px;

    background-color: #eeeeee;
    
    position: absolute;
    bottom: 32px;
    left: 11px;
    z-index: -1;
}

/* .watch {
} */
.watch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 200px;

    padding: 48px 94px;

    position: relative;
}

/* .watch-img {
} */

.watch-container::before {
    content: "";

    width: 1px;
    height: 220px;

    background-color: #c4c4c4;
    
    position: absolute;
    top: 86px;
    left: 535px;
}

/* .watch-info {

} */

.watch-text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;

    color: #000000;

    width: 645px;

    margin-bottom: 30px;
}

/* diamond weekend section end */

/* bracelets section start */

.bracelets {
    font-family: 'Roboto';

    margin-bottom: 120px;
}
.container {
}

.bracelets-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.bracelets-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.bracelets-arrows {
}

.left-arrow {
    margin-right: 54px;
}

.right-arrow,
.left-arrow  {
    cursor: pointer;
}

.bracelets-items {
    display: flex;
    column-gap: 46px;

    margin-bottom: 50px;
}

.bracelets-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.bracelets-img {
    position: relative;

    margin-bottom: 25px;
}

.bracelets-img p {
    font-family: 'Open Sans';
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    top: 20px;
    left: 247px;
}

.bracelets-description {
    margin-bottom: 22px;
    margin-left: 14px;
}

.bracelets-vendor {
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;

    margin-bottom: 14px;
}

.bracelets-description-text {
    font-size: 14px;
    line-height: 16px;

    width: 290px;
}

.bracelets-color-sel {
}

.bracelets-color-sel-text {
    font-size: 10px;
    line-height: 12px;

    text-align: center;

    margin-bottom: 16px;
}

.bracelets-colors {
    text-align: center;

    margin-bottom: 38px;
}

.color-1 {
    width: 16px;
    height: 16px;

    display: inline-block;

    background-color: #d2a736;

    position: relative;
    margin-right: 10px;
}

.color-1::after {
    content: "";

    width: 22px;
    height: 22px;

    display: inline-block;

    border: 1px solid #000000;

    position: absolute;
    top: -3px;
    left: -3px;
}

.color-2 {
    width: 16px;
    height: 16px;

    display: inline-block;

    background-color: #e8e8e8;
    margin-right: 10px;
}

.color-3 {
    width: 16px;
    height: 16px;

    display: inline-block;

    background-color: #efc7bb;;
}

.bracelets-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bracelets-price-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bracelets-price-text {
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;

    position: relative;

    margin: 16px 0 16px 0;
}

.bracelets-price-text-active {
    font-size: 16px;
    line-height: 19px;
    
    color: #666666;

    margin-right: 20px;
}

.bracelets-price-text::after {
    content: "";

    width: 1px;
    height: 50px;

    background-color: #000000;

    position: absolute;
    top: -14px;
    left: 98px;
}

.bracelets-price-buy {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    color: #34a9a2;
}

.bracelets-price-buy-active {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    color: #34a9a2;
    background-color: #000000;
    box-shadow: 0px 4px 4px rgba(155, 14, 222, 0.25);

    padding: 16px 26px;
}

.bracelets-bottom {
    display: flex;
    justify-content: flex-end
}

/* bracelets section end */


/* app section start */

.app {
    font-family: 'Inter';

    margin-bottom: 120px;

    background-color: #171836;
}

.container-1 {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    padding: 60px 120px 100px 120px;
}

.app-box-inner {
    display: none;
}

.app-box {
    display: flex;
    justify-content: space-around;
    column-gap: 120px;

    background: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);
    border-radius: 40px;

    padding: 40px 100px 0 100px;

    height: 434px;
}

.app-box-left-part {
}
.app-box-left-part-desc {
}

.app-box-left-part-title {
    font-size: 47px;
    font-weight: 600;
    line-height: 76px;

    color: #ffffff;
    opacity: 0.7;

    margin-bottom: 20px;
}

.app-box-left-part-text {
    font-size: 18px;
    line-height: 32px;

    color: rgba(255, 255, 255, 0.7);

    width: 406px;

    margin-bottom: 40px;
}

.app-box-left-part-images {
    line-height: 0;
    margin-bottom: 100px;
}

.app-box-left-part-link {
    text-decoration: none;
    cursor: pointer;
}

.app-box-left-part-link:first-child {
    margin-right: 26px;
}

.app-box-left-part-img {
}

.app-box-right-part {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
    border-radius: 20px 20px 0 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom-width: 0;

    padding: 24px 20px 0 20px;

    width: 284px;

    position: relative;
}

.app-box-right-part-illust {
}
.app-box-right-part-illust-card {
}

.app-box-right-part-illust-card-top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;

    position: relative;
}

.app-box-right-part-illust-card-top-part::after {
    content: "";

    position: absolute;

    background-image: url("../images/top-image.png");
    width: 62px;
    height: 62px;

    top: 30px;
    left: -102px;
}

.app-box-right-part-illust-card-top-part-l {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app-box-right-part-illust-card-top-part-avatar {
    line-height: 0;

    margin-right: 10px;
}
.app-box-right-part-illust-card-top-part-text {
}

.app-box-right-part-illust-card-top-part-text-name {
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.8);

    margin-bottom: 4px;
}

.app-box-right-part-illust-card-top-part-text-member {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;

    color: rgba(255, 255, 255, 0.8);
}

.app-box-right-part-illust-card-top-part-r {
}
.app-box-right-part-illust-card-top-part-crown {
}

.app-box-right-part-illust-card-mid-part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(18, 11, 35, 0.09);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;

    padding: 20px 22px;

    margin-bottom: 60px;

    position: relative;
}

.app-box-right-part-illust-card-mid-part::after {
    content: "";

    position: absolute;

    background-image: url("../images/middle-image.png");
    width: 46px;
    height: 45px;

    top: 77px;
    left: -76px;
}

.app-box-right-part-illust-card-mid-part-illust-l {
    margin-right: 24px;
}

.app-box-right-part-illust-card-mid-part-text-r {
}

.app-box-right-part-illust-card-mid-part-text-r-tl {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;

    color: #ffffff;
    opacity: 0.8;

    width: 100px;

    margin-bottom: 6px;
}

.app-box-right-part-illust-card-mid-part-text-r-tx {
    font-size: 8px;
    line-height: 12px;

    color: rgba(255, 255, 255, 0.6);

    width: 110px;
}

.app-box-right-part-illust-card-bot-part {
    display: flex;
    align-items: center;
    column-gap: 30px;

    position: absolute;
    top: 270px;
    right: 20px;
}

.app-box-right-part-illust-card-bot-part-case-l {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;

    padding: 60px 16px 13px 16px;

    width: 160px;

    position: relative;
}

.app-box-right-part-illust-card-bot-part-case-l-illust {
    position: absolute;

    top: -40px;
    left: 30px;
}

.app-box-right-part-illust-card-bot-part-case-l-tx {
    display: flex;
    align-items: center;
}

.app-box-right-part-illust-card-bot-part-case-l-tx-mf {
    font-size: 11px;
    line-height: 18px;
    font-weight: 600;

    color: #ffffff;
    opacity: 0.7;

    width: fit-content;

    margin-right: 22px;
}

.app-box-right-part-illust-card-bot-part-case-l-arrow {
}

.app-box-right-part-illust-card-bot-part-case-r {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;

    padding: 60px 16px 13px 16px;

    width: 160px;

    position: relative;
}

.app-box-right-part-illust-card-bot-part-case-r::after {
    content: "";

    position: absolute;

    background-image: url("../images/bottom-image.png");
    width: 52px;
    height: 52px;

    top: -61px;
    right: -55px;
}

.app-box-right-part-illust-card-bot-part-case-r-illust {
    position: absolute;

    top: -40px;
    left: 20px;
}

.app-box-right-part-illust-card-bot-part-case-r-tx {
    display: flex;
    align-items: center;
}

.app-box-right-part-illust-card-bot-part-case-r-tx-mf {
    font-size: 11px;
    line-height: 18px;
    font-weight: 600;

    color: #ffffff;
    opacity: 0.7;

    width: fit-content;

    margin-right: 22px;
}

.app-box-right-part-illust-card-bot-part-case-r-arrow {
}

/* app section end */

/* form section start */

.form {
    background-image: url("../images/form-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    height: 864px;

    margin-bottom: 120px;
}

.container-3 {
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    /* Сверху | Справа | Снизу | Слева */
    padding: 325px 41px 0 41px;
}

.form-box {
    width: 600px;

    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

    padding: 30px 50px;

    margin-left: auto;
    margin-right: auto;
}

.form-title {
    font-size: 25px;
    line-height: 38px;

    margin-bottom: 120px;
}

.form-itself {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 500px;
}

fieldset {
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.form-input {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    padding: 18px 20px 18px 20px;
    margin-bottom: 30px;

    width: 100%;
}

.form-input::placeholder {
    color: #000000;
}

input[type="text"] {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}

.form-tx-area {    
    font-family: 'Inter';
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;

    height: 120px;
    width: 100%;

    resize: none;

    padding: 10px 0 0 20px;

    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;

    margin-bottom: 40px;
}

.form-tx-area::placeholder {
    color: #000000;
}

.form-btn {
    background-color: #0a8bfe;
    border-radius: 4px;
    border: none;

    font-family: 'Inter';
    font-size: 12px;
    line-height: 24px;
    
    cursor: pointer;
    
    color: #fff;

    padding: 18px 48px;
}

/* form section end */


/* Media queries for diamond weekend section start  */

@media (max-width: 1440px) {
    .diamond-weekend-container-1 {
        /* width: 642px; */
        max-width: 100%;
    }

    .diamond-weekend-container-1::after {
        /* width: 642px; */
        max-width: 100%;
    }
    
    .diamond-weekend-container-2 {
        /* width: 642px; */
        max-width: 100%;
    }

    .diamond-weekend-container-2::after {
        /* width: 642px; */
        max-width: 100%;
    }

    .watch-text {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .diamond-weekend-container-1 {
        width: 501px;
    }

    .diamond-weekend-container-1::after {
        /* width: 642px; */
        max-width: 100%;
    }
    
    .diamond-weekend-container-2 {
        width: 501px;
    }

    .diamond-weekend-container-2::after {
        /* width: 642px; */
        max-width: 100%;
    }
}

@media (max-width: 1120px) {
    .diamond-weekend-container-1 {
        width: 481px;
    }

    .diamond-weekend-container-1::after {
        /* width: 642px; */
        max-width: 100%;
    }
    
    .diamond-weekend-container-2 {
        width: 481px;
    }

    .diamond-weekend-container-2::after {
        /* width: 642px; */
        max-width: 100%;
    }

    .watch-text {
        width: 120%;
    }
}

@media (max-width: 1080px) {
    .diamond-weekend-container-1 {
        width: 461px;
        background-position: right center;
    }

    .diamond-weekend-container-1::after {
        /* width: 642px; */
        max-width: 100%;
    }
    
    .diamond-weekend-container-2 {
        width: 461px;
        background-position: right center;
    }

    .diamond-weekend-container-2::after {
        /* width: 642px; */
        max-width: 100%;
    }

    .watch-text {
        width: 120%;
    }
}

@media (max-width: 1040px) {
    .diamond-weekend-container-1 {
        width: 441px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 441px;
        background-position: right center;
    }
}

@media (max-width: 1000px) {
    .diamond-weekend-container-1 {
        width: 421px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 421px;
        background-position: right center;
    }

    .watch-text {
        width: 140%;
    }
}

@media (max-width: 960px) {
    .diamond-weekend-container-1 {
        width: 401px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 401px;
        background-position: right center;
    }

    .watch-text {
        width: 140%;
    }

    .watch-container {
        column-gap: 140px;
    }

    .watch-container::before {
        left: 470px;
    }

    .diamond-weekend-text {
        width: 290px;
    }
}

@media (max-width: 920px) {
    .diamond-weekend-container-1 {
        width: 381px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 381px;
        background-position: right center;
    }

    .watch-text {
        width: 140%;
    }

    .watch-container {
        column-gap: 140px;
    }

    .watch-container::before {
        left: 470px;
    }

    .diamond-weekend-text {
        width: 270px;
    }
}

@media (max-width: 880px) {
    .diamond-weekend-container-1 {
        width: 361px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 361px;
        background-position: right center;
    }

    .watch-text {
        width: 140%;
    }

    .watch-container {
        column-gap: 120px;
    }

    .watch-container::before {
        left: 460px;
    }

    .diamond-weekend-text {
        width: 270px;
    }
}

@media (max-width: 840px) {
    .diamond-weekend-container-1 {
        width: 341px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 341px;
        background-position: right center;
    }

    .watch-text {
        width: 150%;
    }

    .watch-container {
        column-gap: 110px;
    }

    .watch-container::before {
        left: 460px;
    }

    .diamond-weekend-text {
        width: 220px;
    }
}

@media (max-width: 800px) {
    .diamond-weekend-container-1 {
        width: 321px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        width: 321px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 36px;
    }

    .watch-text {
        width: 150%;
    }

    .watch-container {
        column-gap: 100px;
    }

    .watch-container::before {
        left: 430px;
    }

    .diamond-weekend-text {
        width: 200px;
    }

    .watch-img {
        width: 286px;
    }
}

@media (max-width: 760px) {
    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 301px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 301px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 36px;
    }

    .watch-text {
        width: 150%;
    }

    .watch-container {
        column-gap: 90px;
    }

    .watch-container::before {
        left: 420px;
    }

    .diamond-weekend-text {
        width: 210px;
    }

    .watch-img {
        width: 276px;
    }
}

@media (max-width: 720px) {
    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 281px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 281px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 36px;
    }

    .watch-text {
        width: 150%;
    }

    .watch-container {
        column-gap: 80px;
    }

    .watch-container::before {
        left: 390px;
    }

    .diamond-weekend-text {
        width: 210px;
    }

    .watch-img {
        width: 256px;
    }
}

@media (max-width: 670px) {
    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 261px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 261px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 34px;
    }

    .watch-text {
        width: 150%;
    }

    .watch-container {
        column-gap: 60px;

        padding: 47px 74px;
    }

    .watch-container::before {
        left: 360px;
    }

    .diamond-weekend-text {
        width: 210px;
    }

    .watch-img {
        width: 236px;
    }
}

@media (max-width: 630px) {
    .diamond-weekend-gallery {
        column-gap: 30px;
    }

    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 251px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 251px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 34px;
    }

    .watch-text {
        width: 140%;
    }

    .watch-container {
        column-gap: 60px;

        padding: 47px 44px;
    }

    .watch-container::before {
        left: 320px;
    }

    .diamond-weekend-text {
        width: 210px;
    }

    .watch-img {
        width: 236px;
    }
}

@media (max-width: 600px) {
    .diamond-weekend-gallery {
        column-gap: 30px;
    }

    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 231px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 231px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 33px;
    }

    .watch-text {
        width: 130%;
    }

    .watch-container {
        column-gap: 50px;

        padding: 47px 34px;
    }

    .watch-container::before {
        left: 300px;
    }

    .diamond-weekend-text {
        width: 180px;
    }

    .watch-img {
        width: 236px;
    }
}

@media (max-width: 570px) {
    .diamond-weekend-gallery {
        column-gap: unset;
        flex-direction: column;
        row-gap: 40px;
    }

    .diamond-weekend-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 461px;
        background-position: right center;
    }

    .diamond-weekend-container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 461px;
        background-position: right center;
    }

    .diamond-weekend-heading {
        font-size: 36px;
    }

    .watch-text {
        width: 110%;
    }

    .watch-container {
        column-gap: unset;
        padding: 47px 44px;
        flex-direction: column;
        row-gap: 30px;
    }

    .watch-container::before {
        top: 250px;
        left: 230px;

        transform: rotate(90deg);
    }

    .diamond-weekend-text {
        width: 340px;
    }

    .watch-img {
        width: 306px;
    }

    .watch-info {
        text-align: center;
    }
}

@media (max-width: 460px) {
    .diamond-weekend-text {
        width: 290px;
    }

    .watch-container::before {
        left: 190px;
    }
}

@media (max-width: 400px) {
    .diamond-weekend-heading {
        font-size: 34px;
    }

    .diamond-weekend-text {
        width: 240px;
    }

    .watch-container::before {
        top: 210px;
        left: 160px;
    }

    .watch-img {
        width: 266px;
    }
}

@media (max-width: 370px) {
    .diamond-weekend-heading {
        font-size: 34px;
    }

    .diamond-weekend-text {
        width: 210px;
    }

    .watch-container::before {
        top: 170px;
        left: 136px;
    }

    .watch-img {
        width: 226px;
    }
}

/* Media queries for diamond weekend section end  */

/* Media queries for bracelets section start  */

@media (max-width: 1440px) {
    .bracelets-top {
        width: 1072px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
    }

    .bracelets-item {
        flex-grow: unset;
    }
}

@media (max-width: 1400px) {
    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 40px;
        justify-content: space-between;
    }

    .bracelets-top {
        width: 1041px;
    }

    .bracelets-bottom {
        width: 1041px;
    }

    .bracelets-img img {
        max-width: 100%;
    }
}

@media (max-width: 1130px) {
    .bracelets-top {
        width: 1031px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 50px;
    }

    .bracelets-bottom {
        width: 1031px;
    }
}

@media (max-width: 1100px) {
    .bracelets-top {
        width: 1012px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
    }

    .bracelets-bottom {
        width: 1012px;
    }
}

@media (max-width: 1090px) {
    .bracelets-top {
        width: 991px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
    }

    .bracelets-item {
        width: 280px;
    }

    .bracelets-bottom {
        width: 991px;
    }

    .bracelets-img p {
        top: 15px;
        left: 225px;
    }
}

@media (max-width: 1090px) {
    .bracelets-top {
        width: 660px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 60px;
        justify-content: flex-start;
    }

    .bracelets-item {
        width: 300px;
    }

    .bracelets-bottom {
        width: 660px;
    }

    .bracelets-img p {
        top: 15px;
        left: 225px;
    }
}

@media (max-width: 766px) {
    .bracelets-top {
        width: 560px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 60px;
        justify-content: unset;
    }

    .bracelets-bottom {
        width: 560px;
    }

    .bracelets-item {
        width: 250px;
    }

    .bracelets-img p {
        top: 15px;
        left: 194px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -14px;
        left: 88px;
    }
}

@media (max-width: 658px) {
    .bracelets-top {
        width: 500px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
        justify-content: unset;
    }

    .bracelets-bottom {
        width: 500px;
    }

    .bracelets-item {
        width: 230px;
    }

    .bracelets-img p {
        top: 15px;
        left: 174px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -14px;
        left: 88px;
    }
}

@media (max-width: 598px) {
    .bracelets-top {
        width: 440px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 40px;
        justify-content: unset;
    }

    .bracelets-bottom {
        width: 440px;
    }

    .bracelets-item {
        width: 200px;
    }

    .bracelets-img p {
        top: 15px;
        left: 148px;

        font-size: 14px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -14px;
        left: 80px;
    }
}

@media (max-width: 538px) {
    .bracelets-top {
        width: 390px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: unset;
    }

    .bracelets-bottom {
        width: 390px;
    }

    .bracelets-item {
        width: 180px;
    }

    .bracelets-img p {
        top: 15px;
        left: 128px;

        font-size: 14px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -14px;
        left: 70px;
    }

    .bracelets-price-text {
        font-size: 14px;
    }

    .bracelets-price-buy {
        font-size: 13px;
    }

    /* .bracelets-price {
        justify-content: space-between;
    } */

    .bracelets-price-text-active {
        font-size: 14px;
    }

    .bracelets-price-buy-active {
        font-size: 12px;
        padding: 14px 24px;
    }
}

@media (max-width: 488px) {
    .bracelets-top {
        width: 344px;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;
        justify-content: unset;
    }

    .bracelets-bottom {
        width: 344px;
    }

    .bracelets-item {
        width: 160px;
    }

    .bracelets-img p {
        top: 14px;
        left: 113px;

        font-size: 12px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -10px;
        left: 68px;

        height: 40px;
    }

    .bracelets-price-text {
        font-size: 14px;
    }

    .bracelets-price-buy {
        font-size: 13px;
    }

    /* .bracelets-price {
        justify-content: space-between;
    } */

    .bracelets-price-text-active {
        font-size: 14px;
    }

    .bracelets-price-buy-active {
        font-size: 12px;
        padding: 10px 16px;
    }
}

@media (max-width: 442px) {
    .bracelets-top {
        justify-content: space-between;
    }

    .bracelets-items {
        flex-wrap: wrap;
        column-gap: unset;
        row-gap: 30px;
        justify-content: center;
    }

    .bracelets-item {
        width: 300px;
    }

    .bracelets-bottom {
        width: 344px;
    }

    .bracelets-img p {
        top: 15px;
        left: 244px;

        font-size: 16px;
    }

    .bracelets-description-text {
        width: 100%;
    }

    .bracelets-price-text::after {
        top: -10px;
        left: 92px;

        height: 40px;
    }

    .bracelets-price-text {
        font-size: 16px;
    }

    .bracelets-price-buy {
        font-size: 16px;
    }

    /* .bracelets-price {
        justify-content: space-between;
    } */

    .bracelets-price-text-active {
        font-size: 16px;
    }

    .bracelets-price-buy-active {
        font-size: 16px;
        padding: 14px 20px;
    }
}

@media (max-width: 442px) {
    .bracelets-arrows {
        margin-right: 40px;
    }
}

@media (max-width: 380px) {
    .bracelets-arrows {
        margin-right: 60px;
    }

    .bracelets-img p {
        top: 15px;
        left: 224px;
    }
}

@media (max-width: 360px) {
    .bracelets-arrows {
        margin-right: 80px;
    }

    .bracelets-img p {
        top: 15px;
        left: 204px;
    }
}

/* Media queries for bracelets section end  */

/* Media queries for app section start  */
@media (max-width: 1200px) {
    .app-box {
        column-gap: 110px;
    }
}

@media (max-width: 1150px) {
    .app-box {
        column-gap: 110px;
    }

    .app-box-left-part-title {
        font-size: 44px;
    }

    .app-box-left-part-text {
        font-size: 16px;
        width: 386px
    }
}

@media (max-width: 1120px) {
    .app-box {
        column-gap: 100px;
    }

    .app-box-left-part-title {
        font-size: 44px;
    }

    .app-box-left-part-text {
        font-size: 16px;
        width: 386px
    }

    .app-box-right-part {
        width: 264px;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 18px 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 50px 14px 10px 14px;
        width: 140px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 50px 14px 10px 14px;
        width: 140px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 20px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -40px;
        left: 10px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 100%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 100%;
    }
}

@media (max-width: 1080px) {
    .app-box {
        column-gap: 80px;
    }

    .app-box-left-part-title {
        font-size: 44px;
    }

    .app-box-left-part-text {
        font-size: 16px;
        width: 386px
    }

    .app-box-right-part {
        width: 254px;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 18px 14px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 50px 14px 10px 14px;
        width: 134px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 50px 14px 10px 14px;
        width: 134px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 16px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -40px;
        left: 6px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 100%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 100%;
    }

    .app-box-left-part-img {
        max-width: 100%;
    }
}

@media (max-width: 1040px) {
    .app-box {
        column-gap: 80px;
    }

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;

        width: 366px;
    }

    .app-box-right-part {
        width: 244px;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 18px 14px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 48px;
        height: 48px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 50px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 50px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 12px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -40px;
        left: 4px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 100%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 100%;
    }

    .app-box-left-part-img {
        max-width: 136px;
    }
}

@media (max-width: 1000px) {
    .app-box {
        column-gap: 60px;
        padding: 40px 60px 0 60px;
    }

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;

        width: 286px;
    }

    .app-box-right-part {
        width: 244px;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 18px 14px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 48px;
        height: 48px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -40px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 80%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 80%;

        margin-left: 4px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }
}


@media (max-width: 970px) {
    .app-box {
        column-gap: 80px;
        padding: 40px 40px 0 40px;
    }

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;

        width: 286px;
    }

    .app-box-right-part {
        width: 234px;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 14px 12px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 48px;
        height: 48px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -36px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 70%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 70%;

        margin-left: 10px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }

    .app-box-right-part-illust-card-mid-part::after {
        top: 67px;
    }

    .app-box-right-part-illust-card-bot-part-case-r::after {
        top: -71px;
    }
}

@media (max-width: 930px) {
    .app-box {
        column-gap: 80px;
        padding: 40px 40px 0px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        height: 710px;
    }

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        width: 386px;

        margin-bottom: 20px;
    }

    .app-box-right-part {
        width: 234px;

        height: 100%;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 14px 12px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 48px;
        height: 48px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 40px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -36px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 70%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 70%;

        margin-left: 10px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }

    .app-box-right-part-illust-card-mid-part::after {
        top: 67px;
    }

    .app-box-right-part-illust-card-bot-part-case-r::after {
        top: -71px;
    }

    .app-box-left-part-images {
        display: flex;
        justify-content: center;

        line-height: 0;
        margin-bottom: 40px;
    }

    .app-box-left-part-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 740px) {
    .app-box {
        column-gap: 80px;
        padding: 40px 40px 0px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        height: 710px;
    }

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
        text-align: center;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        width: 386px;

        margin-bottom: 20px;
    }

    .app-box-right-part {
        width: 254px;

        height: 100%;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 14px 12px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 48px;
        height: 48px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 30px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 30px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -36px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 70%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 70%;

        margin-left: 10px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }

    .app-box-right-part-illust-card-mid-part::after {
        top: 67px;
    }

    .app-box-right-part-illust-card-bot-part-case-r::after {
        top: -71px;
    }

    .app-box-left-part-images {
        display: flex;
        justify-content: center;

        line-height: 0;
        margin-bottom: 40px;
    }

    .app-box-left-part-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-box-right-part-illust-card-top-part::after {
        top: 20px;
    }

    .app-box-right-part-illust-card-bot-part {
        top: 250px;
    }

    .app-box-right-part-illust-card-top-part {
        margin-bottom: 20px;
    }
}


@media (max-width: 700px) {
    .app-box {
        column-gap: 80px;
        padding: 40px 40px 0px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        height: 710px;

        background: unset;
        border-radius: unset;

        position: relative;

        z-index: 1;
    }

    /* .container-1 {
        position: relative;
    } */

    .app-box::after {
        display: flex;
        justify-content: space-around;
        column-gap: 120px;
        background: linear-gradient(102.01deg, #23265C 1.96%, #352A56 101.68%);

        position: absolute;

        content: "";
        top: 30px;
        left: -120px;
        width: 1440px;
        height: 680px;

        z-index: -1;
    } 

    .app-box-left-part-title {
        font-size: 42px;
        line-height: 66px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        width: 386px;

        margin-bottom: 20px;
    }

    .app-box-right-part-illust-card-top-part-text-name {
        font-size: 10px;
        margin-bottom: 2px;
    }

    .app-box-right-part-illust-card-top-part-text-member {
        font-size: 8px;
        line-height: 14px;
    }

    .app-box-right-part {
        width: 224px;

        height: 100%;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 14px 12px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 38px;
        height: 38px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 30px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 30px 12px 10px 12px;
        width: 130px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -40px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -36px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 70%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 70%;

        margin-left: 10px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }

    .app-box-right-part-illust-card-mid-part::after {
        top: 57px;
    }

    .app-box-right-part-illust-card-bot-part-case-r::after {
        top: -71px;
    }

    .app-box-left-part-images {
        display: flex;
        justify-content: center;

        line-height: 0;
        margin-bottom: 40px;
    }

    .app-box-left-part-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-box-right-part-illust-card-top-part::after {
        top: 20px;
    }

    .app-box-right-part-illust-card-bot-part {
        top: 250px;
    }

    .app-box-right-part-illust-card-top-part {
        margin-bottom: 20px;
    }

    .app-box-right-part-illust-card-bot-part {
        display: flex;
        align-items: center;
        column-gap: 20px;
        position: absolute;
        top: 250px;
        right: 20px;
    }
}

@media (max-width: 420px) {
    .app-box-left-part-title {
        font-size: 42px;
        line-height: 56px;
    }

    .app-box-left-part-text {
        font-size: 14px;
        line-height: 28px;
        text-align: center;

        width: 296px;

        margin-bottom: 20px;
    }

    .app-box-right-part-illust-card-top-part-text-name {
        font-size: 10px;
        margin-bottom: 2px;
    }

    .app-box-right-part-illust-card-top-part-text-member {
        font-size: 8px;
        line-height: 14px;
    }

    .app-box-right-part {
        width: 204px;

        height: 100%;
    }

    .app-box-right-part-illust-card-mid-part {
        padding: 12px 10px;
    }


    .app-box-right-part-illust-card-mid-part-illust-l svg {
        width: 34px;
        height: 34px;
    }

    .app-box-right-part-illust-card-mid-part-illust-l {
        margin-right: 10px;
    }

    .app-box-right-part-illust-card-bot-part-case-l {
        padding: 20px 12px 10px 12px;
        width: 110px;
    }

    .app-box-right-part-illust-card-bot-part-case-r {
        padding: 20px 12px 10px 12px;
        width: 110px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust {
        position: absolute;
        top: -34px;
        left: 22px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust {
        position: absolute;
        top: -30px;
        left: 14px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-illust img {
        max-width: 70%;
    }

    .app-box-right-part-illust-card-bot-part-case-r-illust img {
        max-width: 70%;

        margin-left: 10px;
    }

    .app-box-left-part-img {
        max-width: 120px;
    }

    .app-box-right-part-illust-card-mid-part::after {
        top: 67px;
    }

    .app-box-right-part-illust-card-bot-part-case-r::after {
        top: -71px;
    }

    .app-box-left-part-images {
        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 0;
        margin-bottom: 40px;
    }

    .app-box-left-part-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-box-right-part-illust-card-top-part::after {
        top: 10px;
    }

    .app-box-right-part-illust-card-bot-part {
        top: 250px;
    }

    .app-box-right-part-illust-card-top-part {
        margin-bottom: 20px;
    }

    .app-box-right-part-illust-card-bot-part {
        display: flex;
        align-items: center;
        column-gap: 20px;
        position: absolute;
        top: 250px;
        right: 20px;
    }

    .app-box-right-part-illust-card-bot-part-case-l-tx-mf {
        font-size: 10px;
    }

    .app-box-right-part-illust-card-bot-part-case-r-tx-mf {
        font-size: 10px;
    }

    .app-box-right-part-illust-card-mid-part-text-r-tx {
        width: 80px;
    }

    .app-box-right-part-illust-card-top-part-avatar svg {
        width: 28px;
        height: 28px;
    }

    .app-box-right-part-illust-card-top-part-crown svg {
        width: 20px;
        height: 13px;
    }

    .app-box-right-part-illust-card-top-part::after {
        left: -92px;
    }
}

/* Media queries for app section end  */